.main {
    background-color: white;
    padding: 20px 20px 0px 20px;
    position: relative;
    z-index: 100;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    
  }
  
  .link {
    display: flex;
  }
  
  .link p {
    color: #908a9d;
    font-weight: 400;
    margin: 0px 10px 0px 10px;
    font-size: 16px;
  }
  
  .link .active {
    border-bottom: 3px solid #f5bd20;
    border-radius: 3px;
    color: #22153b;
  }
  
  .menu {
    display: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .menu {
      display: block;
    }
  
    .link {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: white;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }
  
    .link.openMenu {
      display: flex;
    }
  
    .link p {
      margin: 10px 0;
      text-align: center;
    }
  
    .main {
      padding: 20px;
    }
  }
  