.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    margin-top: 30px;
   

  }
  
  .card {
    /* background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; */
  }
  
  .card:hover {
    transform: translateY(-10px);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
  }
  
  .imageContainer {
    position: relative;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
  }

  /* .image:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  } */
  
  .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 6px;
    font-size: 1rem;
    color: #0070f3;
    width: 40px;
  }
  
  .title {
    font-size: 15px;
    font-weight: bold;
    margin: 1rem;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 10px;
    color: #555;
    margin: 0 1rem 1.5rem;
  }
  